@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-black/10;
  }
  
  body {
    @apply bg-white min-h-screen overflow-hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}

@layer utilities {
  .dot-grid {
    background-image: radial-gradient(circle, #9ca3af 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #f9fafb;
  }
}

